body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#menuButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#smileyContainer p {
    font-size: 50px;
    margin: 0;
}
